html {
  background-color: rgb(34, 34, 34);
  color: white;
}

.avatar-image-selection-container::-webkit-scrollbar {
  width: 0.7em;
}

.avatar-image-selection-container::-webkit-scrollbar-track {
  background-color: #54adc8;
  border-radius: 10px;
  margin-block: 0.2em;
}

.avatar-image-selection-container::-webkit-scrollbar-thumb {
  background-color: #205a6b;
  border: 2px solid #54adc8;
  border-radius: 10px;
  transition: 200ms;
}

.avatar-image-selection-container::-webkit-scrollbar-thumb:hover {
  background-color: #174756;
  border: 2px solid #54adc8;
  border-radius: 10px;
  transition: 200ms;
}

@supports (scrollbar-color: #54adc8 #205a6b) {
  * {
    scrollbar-color: #54adc8 #205a6b;
  }
}

:root {
  --confirm-colour: #2f9264;
  --error-colour: #d40a0a;
}

/* User Creation */

.usercreation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #444444;
}

.usercreation-container {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  top: 20%;
  width: 35%;
  padding-bottom: 15px;
  border-radius: 3px;
  color: #242424;
  border: 2px solid #8a8a8a;
  background-color: #d3d3d3;
  transition: 200ms;
}

.usercreation-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px 30px 0px;
  margin: 10px;
  width: 85%;
}

.usercreation-title {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.usercreation-subtitle {
  text-align: center;
  font-size: 0.95em;
  color: #818181;
}

.usercreation-input-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-bottom: 25px;
}

.usercreation-input {
  margin-bottom: 3px;
  font-size: 1.1em;
  color: #484848;
}

.usercreation-input-input {
  height: 30px;
  width: 97%;
  padding-left: 8px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 2px solid rgb(164, 164, 164);
  font-size: 1em;
  color: #484848;
  transition: 200ms;
}

.usercreation-input-input:focus {
  border: 2px solid #4195fc;
  box-shadow: 0 0 3px #4195fc;
  -webkit-box-shadow: 0 0 3px #4195fc;
  -moz-box-shadow: 0 0 3px #4195fc;
  outline: none;
}

.usercreation-input-input::placeholder {
  font-size: 0.8em;
  color: #3a3a3a;
  opacity: 0.5;
}

.checkIcon {
  position: relative;
  color: var(--confirm-colour);
  width: 20px;
  top: -28px;
  left: 93%;
  z-index: 2;
  margin-bottom: -20px;
  transition: 200ms;
}

.infoIcon {
  position: relative;
  color: var(--error-colour);
  width: 20px;
  top: -28px;
  left: 93%;
  z-index: 2;
  margin-bottom: -20px;
  transition: 200ms;
}

.input-error:focus {
  border: 2px solid var(--error-colour);
  box-shadow: 0 0 3px var(--error-colour);
  -webkit-box-shadow: 0 0 3px var(--error-colour);
  -moz-box-shadow: 0 0 3px var(--error-colour);
  outline: none;
}

.input-confirm:focus {
  border: 2px solid var(--confirm-colour);
  box-shadow: 0 0 3px var(--confirm-colour);
  -webkit-box-shadow: 0 0 3px var(--confirm-colour);
  -moz-box-shadow: 0 0 3px var(--confirm-colour);
  outline: none;
}

.input-validation-error {
  width: 96.5%;
  padding: 8px;
  margin: 5px 0px -11px 0px;
  color: white;
  border-radius: 5px;
  background-color: var(--error-colour);
  opacity: 0;
  transition: 200ms;
}

.input-validation-confirm {
  width: 96.5%;
  padding: 8px;
  margin: 5px 0px -11px 0px;
  color: white;
  border-radius: 5px;
  background-color: var(--confirm-colour);
  opacity: 0;
  transition: 200ms;
}

.hidden {
  height: 0px;
  opacity: 0;
  transition: 200ms;
}

.visible {
  height: 30px;
  opacity: 1;
  transition: 200ms;
}

.subtitle-hidden {
  display: none;
}

/* User Creation Buttons */

.usercreation-continue-container {
  display: flex;
  flex-direction: row;
  width: 86.4%;
}

.usercreation-continue {
  cursor: pointer;
  text-align: center;
  margin: 0px 10px 10px 5px;
  width: 100px;
  padding: 5px;
  border-radius: 3px;
  color: white;
  background-color: #4195fc;
  border: 1.5px solid rgb(255, 255, 255, 0);

  transition: 200ms;
}

.usercreation-continue:hover {
  border: 1.5px solid rgb(255, 255, 255);
}

.usercreation-continue:active {
  background-color: #3d7ac4;
  border: 1.5px solid rgb(255, 255, 255);
}

/* User Avatar Selection */

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-height: 400px;
  padding-bottom: 20px;
}

.avatar-button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 50%;
}

.avatar-button {
  cursor: pointer;
  text-align: center;
  margin: 0px 10px 0px 5px;
  width: 100px;
  padding: 5px;
  border-radius: 3px;
  color: white;
  background-color: #4195fc;
  border: 1.5px solid rgba(255, 255, 255, 0);
  transition: 200ms;
}

.avatar-button:hover {
  border: 1.5px solid rgb(255, 255, 255);
}

.avatar-button:active {
  background-color: #3d7ac4;
  border: 1.5px solid rgb(255, 255, 255);
}

.avatar-back-hidden {
  display: none;
  transition: 0ms;
}

.avatar-image-selection-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 95%;
  border-radius: 5px;
  padding: 10px 0px 10px 0px;
  background-color: #3d7ac4;
  border: 3px solid rgb(255, 255, 255);
  overflow-y: scroll;
}

.avatar-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 120px;
  height: 120px;
}

.avatar-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
  transition: 200ms;
  border: 5px solid rgb(255, 255, 255);
  background-color: white;
}

.avatar-image:hover {
  width: 110px;
  border-radius: 50%;
  margin: 10px;
}

.avatar-image-selected {
  border: 5px solid rgb(0, 204, 255);
}

.avatar-error-message {
  display: flex;
  margin-bottom: 5px;
  width: 92%;
  border-radius: 5px;
  padding: 10px;
  color: white;
  background-color: var(--error-colour);
  transition: 200ms;
}

.avatar-error-hidden {
  opacity: 0;
  height: 0px;
}

/* GLOBAL STYLES */

.disabled-button {
  cursor: not-allowed;
  background-color: #3c3c3c;
  color: white;
  border: 1.5px solid rgb(24, 24, 24);
}

.disabled-button:hover {
  border: 1.5px solid rgb(79, 79, 79);
}

.disabled-button:active {
  border: 1.5px solid rgb(79, 79, 79);
  background-color: #3c3c3c;
}

/* MEDIA QUERIES */

@media (max-width: 80rem) {
  .usercreation-container {
    width: 50%;
  }
}

@media (max-width: 50rem) {
  .usercreation-container {
    width: 70%;
  }
}

@media (max-width: 40rem) {
  .usercreation-container {
    width: 90%;
    top: 10%;
  }
  .avatar-button-container {
    width: 80%;
  }
}

/* Colour selection popup and buttons */

.colour-selection {
  cursor: pointer;
  border: none;
  margin: 10px 10px 10px 5px;
  width: 100px;
  padding: 8px;
  border-radius: 3px;
  color: rgb(61, 61, 61);
  background-color: rgb(232, 246, 255);
  border: 2px solid rgb(41, 41, 41, 0.5);
  transition: 200ms;
}

.colour-selection:hover {
  color: rgb(61, 61, 61);
  background-color: rgb(234, 234, 234);
}

.colour-selection:active {
  color: rgb(61, 61, 61);
  background-color: rgb(168, 168, 168);
}

.colours-selection-popup {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 10%;
  left: 15%;
  width: 70vw;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(53, 95, 119);
  visibility: hidden;
  opacity: 0;
  transition: 200ms;
}

.colour-selection-popup-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px;
}

.colours-selection-popup-dim {
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: 200ms;
}

.popup-open {
  visibility: visible;
  opacity: 1;
}

.colour-selection-button-container {
  display: flex;
  margin: 10px;
}

.colour-selection-button {
  cursor: pointer;
  text-align: center;
  margin: 10px 10px 10px 5px;
  width: 100px;
  padding: 8px;
  border-radius: 3px;
  color: rgb(61, 61, 61);
  background-color: rgb(232, 246, 255);
  border: 2px solid rgb(41, 41, 41, 0.5);
  transition: 200ms;
}

.colour-selection-button:hover {
  color: rgb(61, 61, 61);
  background-color: rgb(234, 234, 234);
}

.colour-selection-button:active {
  color: rgb(61, 61, 61);
  background-color: rgb(168, 168, 168);
}

.colour-selection-disabled {
  cursor: not-allowed;
  user-select: none;
  text-align: center;
  margin: 10px 10px 10px 5px;
  width: 100px;
  padding: 8px;
  border-radius: 3px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  transition: 200ms;
  color: white;
  background-color: rgb(30, 30, 30);
}

.colour-selection-container {
  text-align: center;
  width: 120px;
  margin: 10px;
}

.colour-selection-choice {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(36, 36, 36);
  border: 2px solid rgb(47, 47, 47, 0.1);
  color: rgba(30, 30, 30, 0.8);
  transition: 200ms;
}

.colour-selection-choice:hover {
  background-color: rgb(67, 67, 67);
}

.colour-tan {
  background-color: #c8a272;
  transition: 200ms;
}

.colour-tan:hover {
  color: white;
  background-color: #c19e70;
}

.colour-tan:active {
  color: white;
  background-color: #dab27e;
}

.colour-blue {
  background-color: #7edace;
}

.colour-blue:hover {
  color: white;
  background-color: #51b4a6;
}

.colour-blue:active {
  background-color: #7edace;
}

.colour-green {
  background-color: #80da7e;
}

.colour-green:hover {
  color: white;
  background-color: #4caf4a;
}

.colour-green:active {
  background-color: #80da7e;
}

.colour-selection-choice-selected {
  border: 2px solid rgb(255, 255, 255);
}

/* UPDATE */

.healthbar {
  width: 200px;
  height: 30px;
  border: 3px solid rgb(255, 255, 255);
}

.inner {
  width: 100px;
  height: 30px;
  transition: 200ms;
}

.charge {
  width: 150px;
  height: 15px;
  border: 3px solid white;
}

.inner-charge {
  height: 15px;
  background-color: aqua;
  transition: 200ms;
}

.reset {
  cursor: pointer;
  width: 100px;
  height: 50px;
  border-radius: 6px;
  margin-left: 5px;
  transition: 200ms;
}

.reset:hover {
  color: white;
  background-color: rgb(149, 149, 149);
}

.attack {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 10px 0px 10px 5px;
  cursor: pointer;
  user-select: none;
  width: 100px;
  height: 50px;
  border: 0px;
  border-radius: 6px;
  background-color: aqua;
  color: rgb(45, 45, 45);
  transition: 100ms;
}

.attack:hover {
  background-color: aquamarine;
}

.attack:disabled {
  color: white;
  background-color: rgb(209, 209, 209, 0.5);
}

.damage-display-fade {
  position: absolute;
  top: 110px;
  left: 210px;
  color: rgb(180, 58, 58);
  animation: fadeIn ease 500ms both;
  opacity: 0;
  font-style: italic;
}

.enemy-damage-display {
  animation: enemyDamageFadeIn ease 500ms both;
  top: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
    top: 90px;
  }
  100% {
    opacity: 0;
    top: 90px;
  }
}

@keyframes enemyDamageFadeIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
    top: 20px;
  }
  100% {
    opacity: 0;
    top: 20px;
  }
}

.playerBasic {
  position: absolute;
  top: 50%;
  left: 40%;
  width: 165px;
  height: 165px;
  animation: slash ease 170ms 1;
  opacity: 0.8;
}

@keyframes playerBasic {
  0% {
    background-image: url("Images/Attacks/Player-Basic/Frame1.png");
  }
  35% {
    background-image: url("Images/Attacks/Player-Basic/Frame2.png");
  }
  70% {
    background-image: url("Images/Attacks/Player-Basic/Frame3.png");
  }
  100% {
    background-image: url("Images/Attacks/Player-Basic/Frame4.png");
  }
}

/* UPDATE */
