html {
  background-color: rgb(34, 34, 34);
  color: white;
}

/* UPDATE */

.healthbar {
  width: 200px;
  height: 30px;
  border: 3px solid rgb(255, 255, 255);
}

.inner {
  width: 100px;
  height: 30px;
  transition: 200ms;
}

.charge {
  width: 150px;
  height: 15px;
  border: 3px solid white;
}

.inner-charge {
  height: 15px;
  background-color: aqua;
  transition: 200ms;
}

.reset {
  cursor: pointer;
  width: 100px;
  height: 50px;
  border-radius: 6px;
  margin-left: 5px;
  transition: 200ms;
}

.reset:hover {
  color: white;
  background-color: rgb(149, 149, 149);
}

.attack {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 10px 0px 10px 5px;
  cursor: pointer;
  user-select: none;
  width: 100px;
  height: 50px;
  border: 0px;
  border-radius: 6px;
  background-color: aqua;
  color: rgb(45, 45, 45);
  transition: 100ms;
}

.attack:hover {
  background-color: aquamarine;
}

.attack:disabled {
  color: white;
  background-color: rgb(209, 209, 209, 0.5);
}

.damage-display-fade {
  position: absolute;
  top: 110px;
  left: 210px;
  color: rgb(180, 58, 58);
  animation: fadeIn ease 500ms both;
  opacity: 0;
  font-style: italic;
}

.enemy-damage-display {
  animation: enemyDamageFadeIn ease 500ms both;
  top: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
    top: 90px;
  }
  100% {
    opacity: 0;
    top: 90px;
  }
}

@keyframes enemyDamageFadeIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
    top: 20px;
  }
  100% {
    opacity: 0;
    top: 20px;
  }
}

.playerBasic {
  position: absolute;
  top: 50%;
  left: 40%;
  width: 165px;
  height: 165px;
  animation: slash ease 170ms 1;
  opacity: 0.8;
}

@keyframes playerBasic {
  0% {
    background-image: url("Images/Attacks/Player-Basic/Frame1.png");
  }
  35% {
    background-image: url("Images/Attacks/Player-Basic/Frame2.png");
  }
  70% {
    background-image: url("Images/Attacks/Player-Basic/Frame3.png");
  }
  100% {
    background-image: url("Images/Attacks/Player-Basic/Frame4.png");
  }
}

/* UPDATE */

/* Username input */

.username-input-error {
  color: red;
  opacity: 1;
  transition: 200ms;
}

.username-input-confirm {
  color: green;
  opacity: 1;
  transition: 200ms;
}

.hidden {
  opacity: 0;
}

/* Gender selection button */

.gender-selection {
  cursor: pointer;
  border: none;
  margin: 10px 10px 10px 5px;
  width: 100px;
  padding: 8px;
  border-radius: 3px;
  color: rgb(219, 251, 255);
  border: 2px solid rgb(255, 255, 255, 0);
  transition: 200ms;
}

.gender-male {
  background-color: #4ab3e2;
}

.gender-male:hover {
  background-color: rgb(49, 152, 159);
}

.gender-male:active {
  background-color: #4ab3e2;
}

.gender-female {
  background-color: rgb(186, 60, 152);
}

.gender-female:hover {
  background-color: rgb(157, 48, 128);
}

.gender-female:active {
  background-color: rgb(186, 60, 152);
}

.gender-neither {
  background-color: rgb(123, 60, 186);
}

.gender-neither:hover {
  background-color: rgb(106, 50, 162);
}

.gender-neither:active {
  background-color: rgb(123, 60, 186);
}

.selected {
  border: 2px solid rgb(255, 255, 255);
}

/* Colour selection popup and buttons */

.colour-selection {
  cursor: pointer;
  border: none;
  margin: 10px 10px 10px 5px;
  width: 100px;
  padding: 8px;
  border-radius: 3px;
  color: rgb(61, 61, 61);
  background-color: rgb(232, 246, 255);
  border: 2px solid rgb(41, 41, 41, 0.5);
  transition: 200ms;
}

.colour-selection:hover {
  color: rgb(61, 61, 61);
  background-color: rgb(234, 234, 234);
}

.colour-selection:active {
  color: rgb(61, 61, 61);
  background-color: rgb(168, 168, 168);
}

.colours-selection-popup {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 10%;
  left: 15%;
  width: 70vw;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(53, 95, 119);
  visibility: hidden;
  opacity: 0;
  transition: 200ms;
}

.colour-selection-popup-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px;
}

.colours-selection-popup-dim {
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: 200ms;
}

.popup-open {
  visibility: visible;
  opacity: 1;
}

.colour-selection-button-container {
  display: flex;
  margin: 10px;
}

.colour-selection-button {
  cursor: pointer;
  text-align: center;
  margin: 10px 10px 10px 5px;
  width: 100px;
  padding: 8px;
  border-radius: 3px;
  color: rgb(61, 61, 61);
  background-color: rgb(232, 246, 255);
  border: 2px solid rgb(41, 41, 41, 0.5);
  transition: 200ms;
}

.colour-selection-button:hover {
  color: rgb(61, 61, 61);
  background-color: rgb(234, 234, 234);
}

.colour-selection-button:active {
  color: rgb(61, 61, 61);
  background-color: rgb(168, 168, 168);
}

.colour-selection-disabled {
  cursor: not-allowed;
  user-select: none;
  text-align: center;
  margin: 10px 10px 10px 5px;
  width: 100px;
  padding: 8px;
  border-radius: 3px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  transition: 200ms;
  color: white;
  background-color: rgb(30, 30, 30);
}

.colour-selection-container {
  text-align: center;
  width: 120px;
  margin: 10px;
}

.colour-selection-choice {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(36, 36, 36);
  border: 2px solid rgb(47, 47, 47, 0.1);
  color: rgba(30, 30, 30, 0.8);
  transition: 200ms;
}

.colour-selection-choice:hover {
  background-color: rgb(67, 67, 67);
}

.colour-tan {
  background-color: #c8a272;
  transition: 200ms;
}

.colour-tan:hover {
  color: white;
  background-color: #c19e70;
}

.colour-tan:active {
  color: white;
  background-color: #dab27e;
}

.colour-blue {
  background-color: #7edace;
}

.colour-blue:hover {
  color: white;
  background-color: #51b4a6;
}

.colour-blue:active {
  background-color: #7edace;
}

.colour-green {
  background-color: #80da7e;
}

.colour-green:hover {
  color: white;
  background-color: #4caf4a;
}

.colour-green:active {
  background-color: #80da7e;
}

.colour-selection-choice-selected {
  border: 2px solid rgb(255, 255, 255);
}
