html {
  background-color: rgb(34, 34, 34);
  color: white;
}

.healthbar {
  width: 200px;
  height: 30px;
  border: 3px solid rgb(255, 255, 255);
}

.inner {
  width: 100px;
  height: 30px;
  transition: 200ms;
}

.charge {
  width: 150px;
  height: 15px;
  border: 3px solid white;
}

.inner-charge {
  height: 15px;
  background-color: aqua;
  transition: 200ms;
}

.reset {
  cursor: pointer;
  width: 100px;
  height: 50px;
  border-radius: 6px;
  margin-left: 5px;
  transition: 200ms;
}

.reset:hover {
  color: white;
  background-color: rgb(149, 149, 149);
}

.attack {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 10px 0px 10px 5px;
  cursor: pointer;
  user-select: none;
  width: 100px;
  height: 50px;
  border: 0px;
  border-radius: 6px;
  background-color: aqua;
  color: rgb(45, 45, 45);
  transition: 100ms;
}

.attack:hover {
  background-color: aquamarine;
}

.attack:disabled {
  color: white;
  background-color: rgb(209, 209, 209, 0.5);
}

.damage-display-fade {
  position: absolute;
  top: 110px;
  left: 210px;
  color: rgb(180, 58, 58);
  animation: fadeIn ease 500ms both;
  opacity: 0;
  font-style: italic;
}

.enemy-damage-display {
  animation: enemyDamageFadeIn ease 500ms both;
  top: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
    top: 90px;
  }
  100% {
    opacity: 0;
    top: 90px;
  }
}

@keyframes enemyDamageFadeIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
    top: 20px;
  }
  100% {
    opacity: 0;
    top: 20px;
  }
}

.playerBasic {
  position: absolute;
  top: 50%;
  left: 40%;
  width: 165px;
  height: 165px;
  animation: slash ease 170ms 1;
  opacity: 0.8;
}

@keyframes playerBasic {
  0% {
    background-image: url("Images/Attacks/Player-Basic/Frame1.png");
  }
  35% {
    background-image: url("Images/Attacks/Player-Basic/Frame2.png");
  }
  70% {
    background-image: url("Images/Attacks/Player-Basic/Frame3.png");
  }
  100% {
    background-image: url("Images/Attacks/Player-Basic/Frame4.png");
  }
}

.username-input-error {
  color: red;
  opacity: 1;
  transition: 200ms;
}

.username-input-confirm {
  color: green;
  opacity: 1;
  transition: 200ms;
}

.hidden {
  opacity: 0;
}

.gender-selection {
  cursor: pointer;
  border: none;
  margin: 10px 10px 10px 5px;
  padding: 7px;
  border-radius: 3px;
  background-color: rgb(175, 54, 54);
  transition: 200ms;
}

.gender-selection:hover {
  background-color: rgb(210, 69, 69);
}

.selected {
  background-color: rgb(123, 40, 40);
}

.selected:hover {
  background-color: rgb(148, 48, 48);
}

.colour-selection {
  cursor: pointer;
  border: none;
  margin: 10px 10px 10px 5px;
  padding: 7px;
  border-radius: 3px;
  background-color: rgb(175, 54, 54);
  transition: 200ms;
}

.colour-selection:hover {
  background-color: rgb(210, 69, 69);
}

.colours-selection-popup {
  position: fixed;
  top: 10%;
  left: 25%;
  width: 50vw;
  height: 70vh;
  border-radius: 5px;
  background-color: aqua;
  visibility: hidden;
  opacity: 0;
  transition: 200ms;
}

.colours-selection-popup-dim {
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: 200ms;
}

.popup-open {
  visibility: visible;
  opacity: 1;
}
